<div id="contact" class="container-fluid">

    <h2 class="p-5">Contact</h2>

    <div class="row">

                                                                                                
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5">
            <h3>Formulaire de contact</h3>
            <div class="dropdown-divider mb-5"></div>
            <form name="contact" method="post">
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <p data-aos="fade-up" class="aos-init aos-animate"><label for="contact_nom" class="required">Nom</label></p>
                    </div>
                    <div class="col-md-9">
                        <p data-aos="fade-up" class="aos-init aos-animate"><input type="text" id="contact_nom" name="contact[nom]" required="required" class="form-control"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <p data-aos="fade-up" class="aos-init aos-animate"><label for="contact_prenom" class="required">Prenom</label></p>
                    </div>
                    <div class="col-md-9">
                        <p data-aos="fade-up" class="aos-init aos-animate"><input type="text" id="contact_prenom" name="contact[prenom]" required="required" class="form-control"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <p data-aos="fade-up" class="aos-init aos-animate"><label for="contact_email" class="required">Email</label></p>
                    </div>
                    <div class="col-md-9">
                        <p data-aos="fade-up" class="aos-init aos-animate"><input type="email" id="contact_email" name="contact[email]" required="required" class="form-control"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <p data-aos="fade-up" class="aos-init aos-animate"><label for="contact_objet" class="required">Objet</label></p>
                    </div>
                    <div class="col-md-9">
                        <p data-aos="fade-up" class="aos-init aos-animate"><input type="text" id="contact_objet" name="contact[objet]" required="required" class="form-control"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <p data-aos="fade-up" class="aos-init aos-animate"><label for="contact_message" class="required">Message</label></p>
                    </div>
                    <div class="col-md-9">
                        <p data-aos="fade-up" class="aos-init aos-animate"><textarea id="contact_message" name="contact[message]" required="required" class="form-control"></textarea></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p data-aos="fade-up" class="aos-init aos-animate"><button type="submit" id="contact_envoyer" name="contact[envoyer]" class="btn-outline-light btn">Envoyer</button></p>
                    </div>
                </div>
            <input type="hidden" id="contact__token" name="contact[_token]" value="8e07.wwTZ7atzeGjUxNXURzhkVIjoAdhXYMp4m5u_nyW5GVU.p1XonsklCw-5o5emH3EeH8SAN5kVC_tVoqjJxUvhVyGuPLqZ4AAeWZ6mgA"></form>
        </div>
        
    </div>

</div>