<div id="projects" class="container-fluid text-light">
    <h2 class="p-5">Projets</h2>

    <div class="row">
        <div class="col-md-6 p-5">
            <img
                src="./img/javascript2.jpg"
                alt="javascript project"
            />
            <div class="mt-3">
                <h3>JavaScript Company | Lean Javascript</h3>
                <h4>
                    Formation pour apprendre les bases du langages Javascript
                </h4>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <img
                src="./img/react2.jpg"
                alt="react project"
            />
            <div class="mt-3">
                <h3>
                    React Company | Lean React
                </h3>
                <h4>
                    Formation pour apprendre React - JSX et Redux
                </h4>
            </div>
        </div>
        
    </div>
</div>
